# Introduction to Python Pandas Library.

## What is Pandas?
A powerful library for data manipulation and analysis in Python.

## Why use Pandas?
Easy Data Cleaning and Transformation. Efficient handling of large datasets. Pandas is use to visualize the datasets.

In [2]:
from IPython.utils.text import columnize
from jinja2.nodes import Assign
from pandas.core.groupby.grouper import Grouping

print("Introduction to Pandas")

Introduction to Pandas

# Key Data Structure in Pandas.
- Series(1 Dimensional)
- DataFrame(2 Dimensional)

In [3]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
df=pd.DataFrame({'Name':["Akash","Suraj","Shivam","Abhishek"],"marks":[98,89,87,90]})
df

       Name  marks
0     Akash     98
1     Suraj     89
2    Shivam     87
3  Abhishek     90

#### Read Data from CSV File using Pandas Library.

In [5]:
# Read the CSV File using DataFrame.

import pandas as pd
df=pd.read_csv('Iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# Read the Excel File using DataFrame.

# df=pd.read_excel('Iris.xlsx')
# print(df)

In [7]:
# Read the JSON File using DataFrame.

# df=pd.read_json('Iris.json')
# print(df)

## How to Create Self DataFrame.

In [9]:
data={
     "Name":["Akash","Suraj","Shivam","Abhishek"],
     "marks":[98,89,87,90],
     "Age":[22,22,21,24],
     "city":["Mirzapur","Varanasi","Gopiganj","Sonbhadra"]
 }
df=pd.DataFrame(data)
df



# Save the File in CSV Format.

df.to_csv("personal.csv",index=False)

#  Save the File in Excel Format.

# df.to_excel("personal2.xlsx",index=False)

# Save the File in JSON Format.

# df.to_json("personal2.json",index=False)

### How to Explore the DataSet
- Understand the Dataset.
- Identify the Problem
- Plan next Step

### Method to Explore the Datasets

- Head()
- Tail()

In [10]:
# Import the Data Sets.

df=pd.read_csv("iris.csv")


# Print the 10 values of Top.

print(df.head(10))

# Print the 10 values of last.

print(df.tail(10))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa
     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

### Summarizing the Datasets.

- No of columns and rows.
- What type of data hold the column and rows.
- Missing data.

### Methods of Summarize the datasets.

- info()

#### Find the output of Summarizing datasets.

- Number of Rows and Columns.
- Column Name.
- Data Type.
- Missing data of datasets.
- Memory usage of Data Frame.

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [12]:
# Desribe Method is used to describe the datasets.

print(df.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Manipulation of Datasets.

- How big your dataset.
- What are the name of the columns.

### Methods to Manipilate the Datasets.

- shape :- Print the Size of the Datasets.
- columns :- Print the name of the Columns of Datasets.

In [13]:
print(df.shape)
print(df.columns)

(150, 5)
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

### Selecting and Filtering the DataSets for Manipulation.

- Select Specific Columns.
- Filter Rows.
- Combine Multiple Conditions.

In [14]:
df=pd.read_csv("personal.csv")

In [15]:
# Selecting Columns.

# 1. 1 a Series
# column=df["Column_Name"]
name=df["Name"]
print(name)

# 2. DataFrame Multiple Columns of Data.
# subset=df[["Column1","Column2","Column3"]]
subset=df[["Name","Age","city"]]
print(subset)

0       Akash
1       Suraj
2      Shivam
3    Abhishek
Name: Name, dtype: object
       Name  Age       city
0     Akash   22   Mirzapur
1     Suraj   22   Varanasi
2    Shivam   21   Gopiganj
3  Abhishek   24  Sonbhadra

In [16]:
# Filtering Rows.
# Boolean Indexing.

# 1. Based on a Single Condition.
# row=df[df['Column_Name']==value]
high_marks=df[df["marks"]>90]
print(high_marks)

# 2. Combine Multiple Condition.
# rows=df[(df['column1']==value)&(df['column2']==value)]
filtered_data=df[(df["marks"]>80)&(df["Age"]>20)]
print(filtered_data)

    Name  marks  Age      city
0  Akash     98   22  Mirzapur
       Name  marks  Age       city
0     Akash     98   22   Mirzapur
1     Suraj     89   22   Varanasi
2    Shivam     87   21   Gopiganj
3  Abhishek     90   24  Sonbhadra

### Modify the Columns and Rows.

- Adding the Columns.

In [19]:
import pandas as pd

In [32]:
# Method 1:-  Adding columns via Assign.
# df["Column_Name"]=Some_data

df=pd.read_csv("personal.csv")
print(df)

# df["bonus"]=df["Salary"]*0.1
print(df)

# Method 2:- Adding Columns using insert().
# df.insert(loc,"Column_Name","Some_data")

df.insert(0,"Student Id",[1,2,3,4])
print(df)

       Name  marks  Age       city
0     Akash     98   22   Mirzapur
1     Suraj     89   22   Varanasi
2    Shivam     87   21   Gopiganj
3  Abhishek     90   24  Sonbhadra
       Name  marks  Age       city
0     Akash     98   22   Mirzapur
1     Suraj     89   22   Varanasi
2    Shivam     87   21   Gopiganj
3  Abhishek     90   24  Sonbhadra
   Student Id      Name  marks  Age       city
0           1     Akash     98   22   Mirzapur
1           2     Suraj     89   22   Varanasi
2           3    Shivam     87   21   Gopiganj
3           4  Abhishek     90   24  Sonbhadra

- Updating Values in the columns.

In [33]:
# Method 1:-
# df.loc(row_index,"Column Name")=new_value

df.loc[0,"Salary"]=60000
print(df)


# Method 2:-
# Increasing Salary by 5%.

df["Salary"]=df["Salary"]*1.05
print(df)

   Student Id      Name  marks  Age       city   Salary
0           1     Akash     98   22   Mirzapur  60000.0
1           2     Suraj     89   22   Varanasi      NaN
2           3    Shivam     87   21   Gopiganj      NaN
3           4  Abhishek     90   24  Sonbhadra      NaN
   Student Id      Name  marks  Age       city   Salary
0           1     Akash     98   22   Mirzapur  63000.0
1           2     Suraj     89   22   Varanasi      NaN
2           3    Shivam     87   21   Gopiganj      NaN
3           4  Abhishek     90   24  Sonbhadra      NaN

### Removing Columns in DataFrame.

In [34]:
# df.drop(columns = ["Column_Name"],inplace=True)

df.drop(columns=["Age"],inplace=True)
print(df)


# df.drop(columns = ["Column_Name","Column_Name2"],inplace=True)

   Student Id      Name  marks       city   Salary
0           1     Akash     98   Mirzapur  63000.0
1           2     Suraj     89   Varanasi      NaN
2           3    Shivam     87   Gopiganj      NaN
3           4  Abhishek     90  Sonbhadra      NaN

### Handling Missing Data in Datasets.

- NaN(Not a Number)
- None(for Object Data Types)

#### Methods to handle the Missing Data.

- isnull()
    - True :- NaN is Missing.
    - False :- value is Present.

In [35]:
df=pd.read_csv("sample.csv")
print(df)

# Return the missing value.
print(df.isnull())

# Return the Sum of Missing value in Datasets.
print(df.isnull().sum())

    brand_name                            model  price  rating  has_5g  \
0      oneplus                    OnePlus 11 5G  54999    89.0    True
1      oneplus        OnePlus Nord CE 2 Lite 5G  19989    81.0    True
2      samsung            Samsung Galaxy A14 5G  16499    75.0    True
3     motorola             Motorola Moto G62 5G  14999    81.0    True
4       realme               Realme 10 Pro Plus  24999    82.0    True
..         ...                              ...    ...     ...     ...
975   motorola       Motorola Moto Edge S30 Pro  34990    83.0    True
976      honor                      Honor X8 5G  14990    75.0    True
977       poco  POCO X4 GT 5G (8GB RAM + 256GB)  28990    85.0    True
978   motorola             Motorola Moto G91 5G  19990    80.0    True
979    samsung           Samsung Galaxy M52s 5G  24990    74.0    True

     has_nfc  has_ir_blaster processor_brand  num_cores  processor_speed  ...  \
0       True           False      snapdragon        8.0             3.20  ...
1      False           False      snapdragon        8.0             2.20  ...
2      False           False          exynos        8.0             2.40  ...
3      False           False      snapdragon        8.0             2.20  ...
4      False           False       dimensity        8.0             2.60  ...
..       ...             ...             ...        ...              ...  ...
975    False           False      snapdragon        8.0             3.00  ...
976    False           False      snapdragon        8.0             2.20  ...
977     True            True       dimensity        8.0             2.85  ...
978     True           False      snapdragon        8.0             2.20  ...
979    False           False             NaN        8.0              NaN  ...

     refresh_rate  num_rear_cameras  num_front_cameras       os  \
0             120                 3                1.0  android
1             120                 3                1.0  android
2              90                 3                1.0  android
3             120                 3                1.0  android
4             120                 3                1.0  android
..            ...               ...                ...      ...
975           120                 3                1.0  android
976            60                 3                1.0  android
977           144                 3                1.0  android
978            60                 3                1.0  android
979            60                 3                1.0  android

     primary_camera_rear  primary_camera_front  extended_memory_available  \
0                   50.0                  16.0                          0
1                   64.0                  16.0                          1
2                   50.0                  13.0                          1
3                   50.0                  16.0                          1
4                  108.0                  16.0                          0
..                   ...                   ...                        ...
975                 64.0                  16.0                          0
976                 48.0                   8.0                          1
977                 64.0                  16.0                          0
978                108.0                  32.0                          1
979                 64.0                  32.0                          1

     extended_upto  resolution_width resolution_height
0              NaN              1440              3216
1           1024.0              1080              2412
2           1024.0              1080              2408
3           1024.0              1080              2400
4              NaN              1080              2412
..             ...               ...               ...
975            NaN              1080              2460
976         1024.0               720              1600
977            NaN              1080              2460
978         1024.0              1080              2400
979         1024.0              1080              2400

[980 rows x 26 columns]
     brand_name  model  price  rating  has_5g  has_nfc  has_ir_blaster  \
0         False  False  False   False   False    False           False
1         False  False  False   False   False    False           False
2         False  False  False   False   False    False           False
3         False  False  False   False   False    False           False
4         False  False  False   False   False    False           False
..          ...    ...    ...     ...     ...      ...             ...
975       False  False  False   False   False    False           False
976       False  False  False   False   False    False           False
977       False  False  False   False   False    False           False
978       False  False  False   False   False    False           False
979       False  False  False   False   False    False           False

     processor_brand  num_cores  processor_speed  ...  refresh_rate  \
0              False      False            False  ...         False
1              False      False            False  ...         False
2              False      False            False  ...         False
3              False      False            False  ...         False
4              False      False            False  ...         False
..               ...        ...              ...  ...           ...
975            False      False            False  ...         False
976            False      False            False  ...         False
977            False      False            False  ...         False
978            False      False            False  ...         False
979             True      False             True  ...         False

     num_rear_cameras  num_front_cameras     os  primary_camera_rear  \
0               False              False  False                False
1               False              False  False                False
2               False              False  False                False
3               False              False  False                False
4               False              False  False                False
..                ...                ...    ...                  ...
975             False              False  False                False
976             False              False  False                False
977             False              False  False                False
978             False              False  False                False
979             False              False  False                False

     primary_camera_front  extended_memory_available  extended_upto  \
0                   False                      False           True
1                   False                      False          False
2                   False                      False          False
3                   False                      False          False
4                   False                      False           True
..                    ...                        ...            ...
975                 False                      False           True
976                 False                      False          False
977                 False                      False           True
978                 False                      False          False
979                 False                      False          False

     resolution_width  resolution_height
0               False              False
1               False              False
2               False              False
3               False              False
4               False              False
..                ...                ...
975             False              False
976             False              False
977             False              False
978             False              False
979             False              False

[980 rows x 26 columns]
brand_name                     0
model                          0
price                          0
rating                       101
has_5g                         0
has_nfc                        0
has_ir_blaster                 0
processor_brand               20
num_cores                      6
processor_speed               42
battery_capacity              11
fast_charging_available        0
fast_charging                211
ram_capacity                   0
internal_memory                0
screen_size                    0
refresh_rate                   0
num_rear_cameras               0
num_front_cameras              4
os                            14
primary_camera_rear            0
primary_camera_front           5
extended_memory_available      0
extended_upto                480
resolution_width               0
resolution_height              0
dtype: int64

In [36]:
# Remove the Missing Values rows and columns.
# dropna()

# df.dropna(inplace=True)
# print(df)


# Handle or Fill the Missing value in Datasets.
# fillna(value,inplace=True)

# df.fillna(0,inplace=True)
# print(df)

# df.fillna(df.mean(),inplace=True)
# print(df)

In [37]:
# Fill the estimated value in missing value.
# df['value']=df['value'].interpolate(method='linear')

data={
    "Name":["Akash","Suraj","Shivam","Abhi","Vikash","Abhishek"],
     "Age":[22,None,None,26,22,26],
    "Salary":[60000,45000,50000,45000,54000,48000]
}
df=pd.DataFrame(data)
print(df)

df['Age']=df["Age"].interpolate(method="linear")
print(df)

       Name   Age  Salary
0     Akash  22.0   60000
1     Suraj   NaN   45000
2    Shivam   NaN   50000
3      Abhi  26.0   45000
4    Vikash  22.0   54000
5  Abhishek  26.0   48000
       Name        Age  Salary
0     Akash  22.000000   60000
1     Suraj  23.333333   45000
2    Shivam  24.666667   50000
3      Abhi  26.000000   45000
4    Vikash  22.000000   54000
5  Abhishek  26.000000   48000

### Sorting Data

In [38]:
# df.sort_values(by=["Column_Name"],ascending=False)

df.sort_values(by="Name",ascending=True,inplace=True)
print(df)

# df.sort_values(by=["Column1","Column2"],ascending=False,inplace=True)

       Name        Age  Salary
3      Abhi  26.000000   45000
5  Abhishek  26.000000   48000
0     Akash  22.000000   60000
2    Shivam  24.666667   50000
1     Suraj  23.333333   45000
4    Vikash  22.000000   54000

### Aggregation Function.

In [39]:
# df["Column_Name"].mean() :-  Find the Average of given value.
# df["Column_Name"].sum() :- Find the sum of al values present in column.
# df["Column_Name"].min() :- Find the minimum value of the column.
# df["Column_Name"].max() :- Find the maximum value of the column.
# df["Column_Name"].count() :- Find the count of the value.
# df["Column_Name"].std() :- Find the Standard Deviation of the value.


# Find the Average Salary.

avg_age=df["Age"].mean()
print(avg_age)

24.0

### Grouping in Pandas

In [40]:
data={
    "Name":["Akash","Suraj","Shivam","Abhi","Vikash","Abhishek"],
     "Age":[22,22,21,26,22,26],
    "Salary":[60000,45000,50000,45000,54000,48000]
}
df=pd.DataFrame(data)
print(df)


# Single Value Group.

grouped=df.groupby("Age")['Salary'].sum()
print(grouped)

# Multiple Value Grouping.

grouped1=df.groupby(["Age","Name"])['Salary'].sum()
print(grouped1)

       Name  Age  Salary
0     Akash   22   60000
1     Suraj   22   45000
2    Shivam   21   50000
3      Abhi   26   45000
4    Vikash   22   54000
5  Abhishek   26   48000
Age
21     50000
22    159000
26     93000
Name: Salary, dtype: int64
Age  Name
21   Shivam      50000
22   Akash       60000
     Suraj       45000
     Vikash      54000
26   Abhi        45000
     Abhishek    48000
Name: Salary, dtype: int64

### Merging and Joining the Datasets.

In [41]:
# Merge Two Tables.

# Create Customer Table.
customer=pd.DataFrame({
    "cust_Id":[1,2,3,4,5],
    "Name":["Akash","Suraj","Shivam","Abhishek","Vikash"]
})

# Create Order Table.
order=pd.DataFrame({
    "cust_Id":[1,2,3,5,6],
    "amount":[250,350,500,450,750]
})


# Merging the Given Table.
# merged=df.merge("Dataframe_Name",how="Type of Join",on="On the basis of merging the dataframe")


# Inner Join:- Print the Matching data of both Dataframe.
# imerged=pd.merge(customer,order,on="cust_Id",how="inner")
# print(imerged)


# Outer Join:- Print the same and different both data of both Dataframe.
# omerged=pd.merge(customer,order,on="cust_Id",how="outer")
# print(omerged)


# Left Join:- Print the all data of first dataframe and print the matching data of second Dataframe.
lmerged=pd.merge(customer,order,on="cust_Id",how="left")
print(lmerged)


# Right Join:- Print the all data of second dataframe and print the matching data of first Dataframe.
rmerged=pd.merge(customer,order,on="cust_Id",how="right")
print(rmerged)


# Cross Join:-  Print all the Possible pair.
# cmerged=pd.merge(customer,order,on="cust_Id",how="cross")
# print(cmerged)

   cust_Id      Name  amount
0        1     Akash   250.0
1        2     Suraj   350.0
2        3    Shivam   500.0
3        4  Abhishek     NaN
4        5    Vikash   450.0
   cust_Id    Name  amount
0        1   Akash     250
1        2   Suraj     350
2        3  Shivam     500
3        5  Vikash     450
4        6     NaN     750

#### Concatenation of Dataframe.

- Vertically(Row-Wise)
- Horizontally(Column-Wise)

In [42]:
# cocatenated=pd.concat(["Dataframe1","Dataframe2"],axis=0,ignore_index=True)

region1=pd.DataFrame({
    "Id":[1,2,3],
    "Name":["Akash","Suraj","Shivam"]
})

region2=pd.DataFrame({
    "Id":[4,5,6],
    "Name":["Abhi","Abhishek","Vikash"]
})

# Concate Horizontally.
hconcate=pd.concat([region1,region2],ignore_index=False)
print(hconcate)


# Concate Vertically.
vconcate=pd.concat([region1,region2],axis=1,ignore_index=False)
print(vconcate)

   Id      Name
0   1     Akash
1   2     Suraj
2   3    Shivam
0   4      Abhi
1   5  Abhishek
2   6    Vikash
   Id    Name  Id      Name
0   1   Akash   4      Abhi
1   2   Suraj   5  Abhishek
2   3  Shivam   6    Vikash